*{
	/* background-color: white !important;
	color: black !important; */
}
button{
	background-color: White ;
	color: black !important;
	font-weight: bolder;
	margin-top: 10px;
}
form{
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}